.table thead th{
    background-color: transparent !important;
    border: none !important;
    font-size: 1.5rem;
    font-weight: normal;
    padding: .5rem 0 !important;
    width: 25% !important;
    vertical-align: middle;
}
.table{
    border-bottom: none !important;
}
.table-hover tbody tr:hover {
    background-color: transparent !important;
}
.table td {
    border: none !important;
    padding: .3rem 0 !important;
}
hr{
    margin: 2.5rem 0 !important;
}
.table-hover tbody tr:hover{
    background: transparent !important;
}
@media only screen and (max-width: 960px) {
    .table thead th {
        font-size: 1.2rem;
    }
}
@media only screen and (max-width: 576px) {
    .table thead th {
        font-size: 1rem;
    }
}