<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="robots" content="index,follow">
    <meta name="author" content="neo-project">
    <meta name="application-name" content="neo.org">
    <meta name="renderer" content="ie-stand">
    <title>{title}</title>
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Neo Documentation" />
    <meta property="og:description" content="Neo Documentation" />
    <meta property="og:image" content="/img/twitter-img.jpg" />
    <meta name="twitter:title" content="Neo Documentation" />
    <meta name="twitter:description" content="Neo Documentation" />
    <meta name="twitter:image" content="/img/twitter-img.jpg" />
    <meta name="twitter:card" content="summary_large_image" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/img/site.webmanifest">
    <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="theme-color" content="#ffffff">

    <link href="https://neo-cdn.azureedge.net/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://neo-cdn.azureedge.net/lib/animate.css/animate.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/styles/default.min.css">
    <link href="/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="/css/site.min.css" rel="stylesheet" />
</head>
<body data-spy="scroll" data-target="#navbar-sidenav">
    <nav class="navbar fixed-top navbar-expand-lg py-1 px-3 px-sm-4 px-md-5">
        <a class="navbar-brand" href="https://neo.org">
            <img class="logo" src="/img/logo.svg" alt="NEO Logo" />
            <img class="logo-dark" src="/img/logo-dark.svg" alt="NEO Logo" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/docs/index.html">Documentation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tutorial/index.html">Tutorial</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/faq/index.html">FAQ</a>
                </li>
                <li class="nav-item" style="margin-right: 100px">
                    <a class="nav-link" href="/articles/index.html">Articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-inline-block" href="javascript:" onclick="language('en-us')">EN</a>|<a class="nav-link d-inline-block" href="javascript:" onclick="language('zh-cn')">中文</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0 d-none">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="container-fluid" style="margin-top: 55px">
        <div class="row d-flex">
            <div class="d-none d-md-block catalog py-2 py-md-5 pl-md-3">
                {catalog}
            </div>
            <main class="p-3 p-sm-4 p-md-5">
                <a class="d-block d-md-none" href="javascript:" onclick="showCatalog()">Show / Hide Table of Contents</a>
                {body}
            </main>
            <div class="d-none d-lg-block side-nav py-2 py-md-5">
                <a href="{git}" class="contribution-link d-block">Improve this Doc</a>
                <div class="side-nav-text">In this article</div>
                <div id="navbar-sidenav">
                    {sideNav}
                </div>
            </div>
        </div>
    </div>
    <div class="lightbulb" title="Turn On/Off" onclick="turnOff()">
        <i class="far fa-lightbulb"></i>
    </div>
    <footer>
        <div class="d-flex justify-content-between py-1 px-3 px-sm-4 px-md-5">
            <ul class="d-none d-md-block">
                <li><a href="https://github.com/neo-project/docs" title="GitHub" target="_blank">GitHub</a></li>
                <li><a href="https://github.com/neo-project/docs/issues" title="Issue" target="_blank">Issue</a></li>
                <li><a href="https://discord.io/neo" title="Discord" target="_blank">Discord</a></li>
            </ul>
            <p>Build by <a href="https://github.com/chenzhitong/NeoDocsBuilder" title="NeoDocsBuilder" target="_blank">NeoDocsBuilder</a></p>
            <p>Licensed under <a href="https://github.com/neo-project/docs/blob/master/LICENSE" title="CC-BY-4.0" target="_blank">CC-BY-4.0</a> license. </p>
        </div>
    </footer>
    <script src="https://neo-cdn.azureedge.net/lib/jquery/jquery.min.js"></script>
    <script src="https://neo-cdn.azureedge.net/lib/popper.js/popper.min.js"></script>
    <script src="https://neo-cdn.azureedge.net/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://neo-cdn.azureedge.net/js/jquery.lazyload.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/highlight.min.js"></script>
    <script src="https://neo-cdn.azureedge.net/js/text-autospace.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130525731-2"></script>
    <script src="/js/site.min.js"></script>
    <script>
        //适用于FAQ的根据标题展开收缩
        if (_collapse) {
            $("h2").click(function (e) {
                $(".div-collapse").not($(e.target).parents("h2").next()).hide("fast");
                $(e.target).parents("h2").next().toggle("fast");
            });
        }
    </script>
</body>
</html>
