main {
    letter-spacing: .06em;
}
.hljs {
    background: #f8f9fa;
}

.highlight {
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #f8f9fa;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

    .highlight pre {
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
        background-color: transparent;
        border: 0;
    }

@media (min-width: 576px) {
    .highlight {
        padding: 1.5rem;
    }
}
h1 {
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: .8rem;
    margin-bottom: 1.2rem;
}

pre {
    margin-bottom: 0;
}

p, li {
    line-height: 2;
}

.highlight {
    position: relative;
}

.btn-clipboard {
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.div-collapse {
    display: none;
    border-radius: .25rem;
    background-color: #f8f9fa;
    margin-bottom: 1em;
}
    .div-collapse p:last-child {
        margin-bottom: 0;
    }

.bd-content-title {
    display: block;
    pointer-events: auto;
}

.h2-collapse {
    cursor: pointer;
    font-weight: normal;
    font-size: 1rem;
}

    .h2-collapse span:first-child:hover {
        color: #007bff;
    }

    .h2-collapse span:first-child::before {
        content: "Q:";
        margin-right: .5em;
        display: inline;
        font-size: 1rem;
    }

h1:before, h2:before, h3:before, h4:before, h5:before, h6:before {
    content: '';
    display: block;
    height: 4rem;
    margin-top: -4rem;
}
h1, h2, h3, h4, h5, h6 {
    line-height: 2;
    pointer-events: none;
}

.bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;
}

    .bd-callout p:last-child {
        margin-bottom: 0;
    }

    .bd-callout code {
        border-radius: .25rem;
    }

.bd-callout-warning {
    border-left-color: #f0ad4e;
}

.bd-callout-info {
    border-left-color: #5bc0de;
}

.bd-callout-danger {
    border-left-color: #d9534f;
}

.bd-callout-warning h4 {
    color: #f0ad4e;
}

.bd-callout-info h4 {
    color: #5bc0de;
}

.bd-callout-danger h4 {
    color: #d9534f;
}

.bd-callout dl, .bd-callout ol, .bd-callout ul {
    margin-bottom: 0;
}

.btn-clipboard {
    position: absolute;
    top: .5rem;
    right: .5rem;
    z-index: 10;
    display: block;
    padding: .25rem .5rem;
    font-size: 75%;
    color: #818a91;
    background-color: transparent;
    border: 0;
    border-radius: .25rem;
}

    .btn-clipboard:hover {
        color: #fff;
        background-color: #027de7;
    }

.anchorjs-link {
    font-weight: 400;
    color: rgba(0,123,255,.5);
    transition: color .15s ease-in-out,opacity .15s ease-in-out;
    opacity: 0;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
}

    .anchorjs-link:hover {
        color: #007bff;
        text-decoration: none;
    }

    :hover > .anchorjs-link, .anchorjs-link:focus {
        opacity: 1;
    }

[data-anchorjs-icon]::after {
    content: attr(data-anchorjs-icon);
}
