#catalog_div, .bg-left, #side_nav_div, .search-bar, .anchorjs-link, #prevPage, #nextPage, #catalogToggle{
   display:none!important;
}
main{
   margin: 0 auto;
   max-width: 800px;
   flex: 0 0 100%;
}
main h1, .theme-dark main h1{
   border: none
}
main .home-link{
   border: 1px solid rgba(128, 128, 128, .5);
   height: 100%;
   background-color: white;
}
main .home-link p{
   margin: .5rem 0 0;
   font-size: 14px;
   opacity: .8;
}
.theme-dark main .home-link{
   background-color: #101010;
}
.home-link img{
   vertical-align: top;
}
.div2{
   display: inline-block;
   width: calc(100% - 45px);
   margin-left: 10px;
}

.search-bar2{
    position: relative;
}
.fa-search{
   position: absolute;
   left: 1rem;
   line-height: 2.5;
}
.search-de2{
   position: absolute;
   right: 1rem;
   line-height: 2.5;
}
#sInput2{
   border-radius: 0;
}
#sResult2 {
   background-color: white;
   list-style: none;
}
.theme-dark #sResult2 {
   background-color: #101010;
}
.theme-dark #sInput2 {
   border: 1px solid #474e43;
    background: #1e1e1e;
    color: #dcdcdc;
}
.theme-dark #sInput2:focus {
   box-shadow: 0 0 5px #474e43;
}
#sResult2 li{
   border-bottom: 1px solid rgba(128, 128, 128, .2);
}