html {
  height: 100%;
  width: 100%;
}

body {
    font-family: Arial;
    max-width: 1200px;
    margin: auto;
    background: url(../resources/neo-house/BG.jpg) no-repeat center;
    background-size: 100% 100%;
    font-family: "mFont";
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
	-webkit-appearance: none !important;
	margin: 0;
}


@font-face {
  font-family: mFont;
  src: url('../resources/Chalkboard-Bold.ttf');
}

.body-content {
  background: url(../resources/neo-house/模板背景.png) no-repeat;
  background-size: 100% 100%;
  padding-bottom: 50px;
}

.brand-name {
  width: auto;
  height: auto;
  max-width: 600px;
  margin-left: -5%;
}
            
/* Style the tab */
.tab {
  width: calc(90% + 40px);
  margin: auto;
  display: flex;
  font-size: 40px;
}
/* Style the buttons inside the tab */
.tab .tablinks {
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  width: 220px;
  height: 35px;
  margin-bottom: -5px;
  background-color: #a73c14;
  border-radius: 30px 30px 0 0;
  text-align: center;
  line-height: 40px;
}

/* Create an active/current tablink class */
.tab .tablinks.active {
  border: none;
  border-width: 0;
  background-color: #be5722;
  border-left-width: 20px;
  border-style: solid;
  border-color: #a73c14;
  color: white;
}

.tab .tablinks+.tablinks {
  margin-left: 40px;
}

/* Style the tab content */
.tab-content {
  display: none;
  background: #be5722;
  width: 90%;
  margin: auto;
  border-width: 5px 20px 20px 20px;
  border-color: #a73c14;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 100px;
  border-style: solid;
  min-height: 500px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  background-color: #c7e2cd;
}

td, th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.buy-voucher-form {
    align-self: center;
    display: flex;
    padding-top: 30px;
    flex-direction: column;
    justify-content: space-between;
    width: 30vw;
}

.voucher-input {
    display: flex;
    flex-direction: row;
}

.voucher-input input {
    width: 60px;
}

.buy-voucher-form button {
    padding: 5px;
    width: 200px;
    border-radius: 10px;
    margin-top: 20px;
}

.login-info-div {
  padding-top: 5%;
}

.login-info-div button {
  border-radius: 2px;
  min-width: 100px;
  min-height: 30px;
}

.item-image {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.buy-item-img {
  height: 40px;
  width: 100px;
  margin-top: -10px;
}

.items-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.item-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 250px;
}
.item-header {
   background-color: antiquewhite;
   min-height: 22px;
}

#store .item-header {
   background-color: antiquewhite;
   min-height: 30px;
   display: flex;
   justify-content: center;
   align-items: center
}

.item-footer {
    background-color: bisque;
    min-height: 22px;
} 

#store .item-footer {
    background-color: bisque;
    min-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center
}

#store button {
  min-height: 30px;
}

.head-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
}

.global-display {
    width: 50%;
    height: 40px;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    margin-top: -5%;
}

.global-display-content {
    display: flex;
    justify-content: space-between;
    max-height: 100%;
    width: 180px;
    background: url(../resources/neo-house/数量框背景.png) no-repeat center;
    background-size: 80%;
    line-height: 30px;
}

.asset-icon {
  width: auto;
  height: 40px;
}

.asset-amount {
  line-height: 40px;
  color: white;
}

.login-button {
  background: url(../resources/neo-house/LOGININ/log_back.png) no-repeat center;
  background-size: 100% 100%;
  width: 150px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 30px;
  color: white;
  font-weight: bolder;
  cursor: pointer;
}

.loader {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: url(../resources/neo-house/popup_bg.png) no-repeat center;
}

.login-loader {
  padding: 5%;
  color: #4e2623;
  min-width: 400px;
  min-height: 220px;
  background-size: 100% 100%;
}

.login-loader input {
  margin: 0;
  width: 100%;
  border: none;
  background: none;
  border-bottom: solid #4e2623;
  font-size: 20px;
  outline:none;
}

.loader .popup-login-button {
  width: 100px;
  height: auto;
  cursor: pointer;
}

.loader .cancel-button {
  position: absolute;
  right: 24px;
  top: 40px;
}

.buy-diamond-loader {
  padding: 5%;
  color: #4e2623;
  min-width: 650px;
  min-height: 755px;
  background: url(../resources/neo-house/buy_diamonds/BG.png) no-repeat center;
  background-size: 100% 100%;
}

.buy-diamond-loader label {
  margin-top: 20%;
}

.buy-diamond-loader .wrapper {
  position: relative;
  display: flex;
  background: url(../resources/neo-house/buy_diamonds/input_back.png) no-repeat center;
  background-size: 100%;
  justify-content: space-around;
  align-items: center;
  width: 380px;
  height: 108px;
}

.buy-diamond-loader input {
  text-align: center;
  background: none;
  border: none;
  min-width: 50px;
  outline: none;
  font-size: 50px;
  color: white;
}

.confirm-buy-item-loader {
  padding: 5%;
  color: #4e2623;
  min-width: 400px;
  min-height: 320px;
  background-size: 100% 100%;
  font-size: 30px;
}

.confirm-buy-item-loader .wrapper{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.confirm-buy-item-loader img {
  cursor: pointer;
}

.curtain {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color:rgba(0,0,0,.5);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}